<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout}">
<head>
	<title>Home Page</title>
	<!-- 페이지별 추가 CSS가 필요할 경우 여기에 작성 -->
	<th:block layout:fragment="head-extra">
		<link rel="stylesheet" th:href="@{/css/home.css}">
	</th:block>
</head>
<body>
	<main layout:fragment="content">
	<div>
		<h2>프로젝트 개요</h2>
		<ul> 
			<li> 고객 정보를 효율적으로 관리하기 위한 웹 기반 고객 관리 시스템 구축
			<li> Spring Boot와 MySQL을 활용한 백엔드 API 서버 개발
			<li> JavaScript, jQuery, Thymeleaf를 이용한 웹 애플리케이션 UI 구현
			<li> AWS Elastic Beanstalk을 통한 클라우드 배포 및 운영
		</ul>
	</div>
	<br>
	<div>
		<h2>프로젝트 내용</h2>
		<ul>
			<li> 고객 정보 등록 / 조회 / 수정 / 삭제 기능 제공
			<li> 검색 기능 (이름, 성별, 전화번호, 이메일 등)
		</ul>	
	</div>
	<br>
	<div>
		<h2>기대 효과</h2>
		<ul>
			<li> 고객 정보를 체계적으로 관리하여 검색 및 접근성 개선
			<li> API 기반 설계를 통해 유연한 확장 가능
		</ul>	
	</div>
	<br>
		<p><a href="https://shorturl.at/KbXmB" target='_blank'>프로젝트 관련 문서</a></p>
<!-- 		<h2 th:text="${title}">Title Test</h2> -->
	</main>
	<script layout:fragment="body-end-scripts">
	</script>
</body>
</html>