<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta charset="UTF-8">
	<title th:text="${title} ?: '고객 정보 관리 시스템'"></title>
	<!-- 공통 CSS 파일 링크 -->
	<link rel="stylesheet" th:href="@{/css/common.css}">
	
	<!-- 개별 페이지 추가 CSS를 위한 영역 -->
<!-- 	<th:block layout:fragment="head-extra"> -->
<!-- 	</th:block> -->
</head>
<body>
	<header>
		<h1>고객 정보 관리 시스템</h1>
		<nav>
			<a href="/" th:href="@{/}">Home</a>
			<a href="/list" th:href="@{/user/list}">List</a>
<!-- 			<a href="/about" th:href="@{/about}">About</a> -->
		</nav>
	</header>

	<main layout:fragment="content">
		<!-- 개별 페이지 콘텐츠가 여기에 삽입됩니다 -->
		<th:block layout:fragment="body-end-scripts"></th:block>
	</main>

	<footer>
		<p>연락처 : 010-3488-0208</p>
		<p>&copy; 2025 Copyright By Donghyeon Nam</p>
	</footer>
</body>
</html>